version: '2.4'

services:
  elasticsearch:
    image: elasticsearch:8.11.0
    container_name: foto_atlas_elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - xpack.ml.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9201:9200"
      - "9301:9300"
    restart: unless-stopped

  kibana:
    image: kibana:8.11.0
    container_name: foto_atlas_kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.security.enabled=false
    ports:
      - "5602:5601"
    depends_on:
      - elasticsearch
    restart: unless-stopped